{% extends 'main/base.html' %}

{% block title %}
    корзина
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<div class="container">
    <text><h6>количество товаров: {{ amount }}</h6></text>
</div><br/>
<div class="row">
    <div class="col-md-10" >
        <div class="container" xmlns="http://www.w3.org/1999/html">
            <div class="row">
                {% for product in b %}
                <div class="col-md-10" >
                        <div class="card mb-4 rounded-3 shadow-sm" >
                            <div class="card-body">
                                <h3 style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis"><a class="p-2 text-dark" href="{% url 'product' productid=product.products.id %}" >{{ product.products.ProductName }}</a></h3><br/>
                                <h5 class="p-2 text-dark" > цена: {{ product.products.ProductPrice }}</h5><br/>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-2" >
    <form method="post" action="/clearcart">
        {% csrf_token %}
        <input class="w-100 btn btn-lg btn-outline-primary" type="submit" value="очистить" name="confirm" />
    </form>
    <div>
 </div>
{% endblock %}