{% extends 'main/base.html' %}

{% block title %}
    главная
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4" >
                    <div class="card mb-4 rounded-3 shadow-sm" >
                        <div class="card-body">
                            <h3 style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis"><a class="p-2 text-dark" href="{% url 'product' productid=product.id %}" >{{ product.ProductName }}</a></h3><br/>
                            {% if product.ProductImage %}
                                <div class="container" >
                                    <a href="{% url 'product' productid=product.id %}" >
                                        <img src="{{ product.ProductImage.url }}" style="align-content: center" />
                                    </a><br/>
                                </div>
                            {% endif %}
                            <h5 class="p-2 text-dark" > цена: {{ product.ProductPrice }}</h5><br/>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="document.location='{% url 'product' productid=product.id %}'">просмотреть подробнее</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}